[submodule "backend/core"]
	path = backend/core
	url = https://github.com/crawlab-team/crawlab-core
[submodule "backend/db"]
	path = backend/db
	url = https://github.com/crawlab-team/crawlab-db
[submodule "backend/fs"]
	path = backend/fs
	url = https://github.com/crawlab-team/crawlab-fs
[submodule "backend/vcs"]
	path = backend/vcs
	url = https://github.com/crawlab-team/crawlab-vcs
[submodule "backend/log"]
	path = backend/log
	url = https://github.com/crawlab-team/crawlab-log
[submodule "deployment_examples"]
	path = deployment_examples
	url = https://github.com/winnerineast/examples.git
[submodule "crawlab-docs"]
	path = crawlab-docs
	url = https://github.com/winnerineast/crawlab-docs.git
[submodule "screenshots"]
	path = screenshots
	url = https://github.com/winnerineast/images.git
[submodule "crawlab-core"]
	path = crawlab-core
	url = https://github.com/winnerineast/crawlab-core.git
[submodule "crawlab-fs"]
	path = crawlab-fs
	url = https://github.com/winnerineast/crawlab-fs.git
[submodule "crawlab-vcs"]
	path = crawlab-vcs
	url = https://github.com/winnerineast/crawlab-vcs.git
[submodule "crawlab-grpc"]
	path = crawlab-grpc
	url = https://github.com/winnerineast/crawlab-grpc.git
[submodule "goseaweedfs"]
	path = goseaweedfs
	url = https://github.com/winnerineast/goseaweedfs.git
[submodule "template-parser"]
	path = template-parser
	url = https://github.com/winnerineast/template-parser.git
[submodule "go-trace"]
	path = go-trace
	url = https://github.com/winnerineast/go-trace.git
[submodule "public-plugins"]
	path = public-plugins
	url = https://github.com/winnerineast/public-plugins.git
